{% macro render(form, action) %}
<form method="POST" action="{{ action }}">
    {{ form.hidden_tag() }}
    <ul>
    {% for field in form %}
        {% if field.type == 'FormField' %}
            <ul>
            {% for subfield in field %}
                {{ render_field(subfield, form) }}
            {% endfor %}
            </ul>
        {% else %}
            {{ render_field(field, form) }}
        {% endif %}

        {% if field.errors %}
        <li class="error-color">
            Fehler:
            <ul class="error-msg">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
    {% endfor %}
        <li>
            <input type="submit" value="Absenden" class="button" />
        </li>
    </ul>
</form>
{% endmacro %}

{% macro render_field(field, form) %}
{% if not field.short_name in form.exclude %}
<li>
    {{ field.label }}{% if field.flags.required %}*{% endif %}:

    {% if field.errors %}
        {{ field(class="form-error") }}
    {% else %}
        {% if field.id in form._editor %}
            {{ field(class='markItUp') }}
        {% else %}
            {{ field }}
        {% endif %}
    {% endif %}
</li>
{% endif %}
{% endmacro %}