@charset "utf-8";

.wrapper {
    height: 100%;
}

/*** NAVIGATION *** START ****************************************************/
.nav {}

    .nav a:hover {
        color: #aaa;
    }

.header-nav {
    float: right;
}

.nav-user {
    list-style-type: none;
}

    .nav-user li {
        float: left;
        margin: 0 8px;
    }

.nav-breadcrumb {
    margin: 2px 10px;
}

    .nav-breadcrumb li {
        color: #eee;
    }
/*** NAVIGATION *** END ******************************************************/

/*** HEADER *** START ********************************************************/
.header {
    background-color: #333;
    border-top: 3px solid #f90;
    color: #eee;
    overflow: hidden;
    padding: 10px;
}

    .header-title {
        float: left;
        font-size: 16px;
    }

        .header-title a {
            color: #eee;
        }

        .header-title a:hover {
            color: #aaa;
        }
/*** HEADER *** END **********************************************************/

.breadcrumb {
    border-bottom: 1px dashed #999;
}

.content-wrap {
    float: left;
}

.content {
    float: left;
    margin: 10px 0 10px 10px;
}