@charset "utf-8";

.wrapper {
    height: 100%;
}

/*** NAVIGATION *** START ****************************************************/
.nav {
    list-style-type: none;
}

.header-nav,
.nav-breadcrumb,
.nav-user {
    overflow: hidden;
}

.nav-breadcrumb {
    float: left;
}

.nav-user {
    float: right;
}

    .nav-user li,
    .nav-breadcrumb li {
        float: left;
        margin: 0 8px;
    }

    .nav-breadcrumb li {
        color: #eee;
    }
/*** NAVIGATION *** END ******************************************************/

/*** HEADER *** START ********************************************************/
.header {
    background-color: #333;
    border-top: 3px solid #f90;
    color: #eee;
    overflow: hidden;
    padding: 10px;
}

    .header a:hover {
        color: #aaa;
    }

    .header-title {
        float: left;
        font-size: 12px;
    }
/*** HEADER *** END **********************************************************/

/*** CONTENT *** START *******************************************************/
.content {
    margin: 10px;
    width: 680px;
}

.content-main {
    margin: 10px 0 0;
}

article,
section {
    margin: 0 0 10px;
}

.list {
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
}

.list,
.list-item,
.item-title,
.item-option {
    border: 1px solid #ccc;
}

.list {
    border-top: 5px solid #333;
}

    .list-item.odd {
        background-color: #fff;
    }

        .item-title,
        .item-option {
            padding: 10px;
        }

        .item-option {
            text-align: center;
            width: 60px;
        }

    .list-item a {}

    .list-item a:hover {}
/*** CONTENT *** END *********************************************************/

