{% extends "admin/base.html" %}
{% block body %}
    <section class="wrapper">

        <header class="header">

            <h1 class="header-title">
                <a href="/admin">Admin Area</a>
            </h1>

            <nav class="header-nav">
                <ul class="nav nav-user">
                    <li>
                        Username
                    </li>
                    <li>
                        <a href="">Logout</a>
                    </li>
                </ul> <!-- /.nav-user -->
            </nav>

        </header>

        {% if request.path != '/admin/' %}
        <nav class="breadcrumb">
            <ul class="nav nav-breadcrumb">
            {% set breadcrumb_list = request.path|breadcrumb %}
            {% for key in breadcrumb_list %}
                <li class="item">
                    <a href="/{{ key }}">{{ breadcrumb_list[key] | capitalize }}</a>
                </li>
                {% if not loop.last %}
                <li class="breadcrumb-seperator">&raquo;</li>
                {% endif %}
            {% endfor %}
            </ul> <!-- /.nav-breadcrumb -->
        </nav>
        {% endif %}

        <section class="content-wrap">

            <div class="content">

                {% block content %}{% endblock %}

            </div> <!-- /.content -->

        </section>

    </section><!-- /.wrapper -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/lib/jquery-1.7.2.min.js"><\/script>')</script>

    <script src="{{ url_for('admin_pages.static', filename='js/admin/script.css') }}"></script>

{% endblock %}