{% extends "admin/base.html" %}
{% block body %}
    <section class="wrapper">
        <header class="header">

            <h1 class="header-title">Admin Area</h1>

            <nav class="nav-header">
                <ul class="nav-user">
                    <li>
                        Username, last-login-date
                    </li>
                    <li>
                        <a href="">Logout</a>
                    </li>
                </ul>
            </nav>

        </header> <!-- /#header -->

        <nav class="col col-1 sidebar">
            <ul class="nav nav-main">
                {% for bp in g.admin_blueprints %}
                <li>
                    {% set name = bp | replace( 'admin_', '' ) %}
                    <a href="/admin/{{ name }}">
                        {{ name | capitalize }}
                    </a>
                </li>
                {% endfor %}
            </ul><!-- /#main-nav -->
        </nav>

        <section class="col col-4 content">

            {% block content %}{% endblock %}

        </section><!-- /#page -->

        <footer class="footer">

        </footer>

    </section><!-- /#wrapper -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/lib/jquery-1.7.2.min.js"><\/script>')</script>

    <script src="{{ url_for('admin_pages.static', filename='js/admin/script.css') }}"></script>

{% endblock %}