{% extends "admin/body.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
<article>
    <h1>Welcome!</h1>
    <p>Index Page</p>
    <br />
    <p>
        Display here some infos and statistics, like how many documents are in
        the database and ... blah blah
    </p>
</article>

<section>
    <ul class="list-items">
        <li class="first"><h1>Admin Blueprints</h1></li>
        {% for bp in g.admin_blueprints %}
        <li>
            {% set name = bp | replace( 'admin_', '' ) %}
            <a href="/admin/{{ name }}">
                {{ name | capitalize }}
            </a>
        </li>
        {% endfor %}
    </ul> <!-- /.list-pages -->
</section>
{% endblock %}