{% extends "base.html" %}
{% import 'utils/macros.html' as macros %}

{% block title %}Seite bearbeiten{% endblock %}

{% block content_title %}Seite bearbeiten{% endblock %}

{% block content %}
<div class="form">
    {% if success %}
    <div class="success">
        <p>Seite wurde erfolgreich geändert.</p>
    </div>
    {% elif link_not_unique %}
        <div class="error">
            <p>
                Eine ähnliche Seite existiert bereits. Bitte ändern.
            </p>
        </div>
    {% else %}
        {{ macros.render(form, '.' + page.slug) }}
    {% endif %}
</div>
{% endblock %}
