{% extends "admin/body.html" %}
{% import 'utils/macros.html' as macros %}

{% block title %}Edit page{% endblock %}

{% block content_title %}Edit page{% endblock %}

{% block content %}
<div class="form">
    {% if success %}
    <div class="success">
        <p>Page was edited successfully.</p>
        <p><a href="/admin/pages/">&laquo; BACK</a></p>
    </div><!-- /.success -->
    {% elif link_not_unique %}
    <div class="error">
        <p>A similar page already exists. Please change.</p>
    </div><!-- /.error -->
    {% else %}
        {{ macros.render(form, request.path) }}
    {% endif %}
</div><!-- /.form -->
{% endblock %}
