{% extends 'base.html' %}

{% set title = 'Default' %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_description %}Lorem ipsum dolor sit amet, consetetur sadipscing ...{% endblock %}
{% block header_title %}{{ title }}{% endblock %}

{% block content %}
<h1>Welcome</h1>

<p>
    Lorem ipsum dolor sit amet, consetetur
    sadipscing elitr, sed diam nonumyeirmod
    tempor invidunt ut labore et dolore magna
    aliquyam erat, sed diamvoluptua. At vero
    eos et accusam et justo duo dolores et ea
    rebum.
</p>
<p>
    Stet clita kasd gubergren, no sea takimata
    sanctus est Lorem ipsum dolor sit amet. Lorem i
</p>
{% endblock %}
