@charset "utf-8"; *{padding:0;margin:0}

/* COLOR PALETTE *************************************************************/
/*  EXAMPLE
    LIGHT-GREY: #eee
*/
/* COLOR PALETTE *************************************************************/

/* RESET/NORMALIZE START *****************************************************/

html,
body {
    background-color: #eee;
    color: #333;
    font: normal 12px 'Georgia', serif;
    height: 100%;
}

h1,
h2,
h3 {
    margin-top: 0;
}

ul,
p {
    line-height: 150%;
}

blockquote,
pre {
    border: 1px dashed #ccc;
    margin: 10px 20px;
    padding: 0 10px;
}

blockquote {
    background-color: #fff;
}

pre {
    background-color: #333;
    color: #eee;
    padding: 10px;
}

/* RESET/NORMALIZE END *******************************************************/

/* ANCHOR START **************************************************************/
a {
    color: #5AA0E2;
    text-decoration: none;
}

a:hover {
    color: #333;
}

a > img { border: none }

/* ANCHOR END ****************************************************************/

/* COMMON CLASSES START ******************************************************/
.error,
.error-text {
    color: #f30;
}

.error {
    background-color: #fdd;
    border: 2px solid #f30;
}

.success {
    background-color: #efc;
    border: 2px solid #3c0;
    color: #3c0;
}

.none {
    display: none;
}
/* COMMON CLASSES END ********************************************************/