<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="de" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="de" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="de" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="de" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="de"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block page_title %}Welcome{% endblock %} | Flaskeleton</title>

    <meta name="description" content="{% block page_description %}{{ config.PAGE_DESCRIPTION }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--
        For automatic reloading, include static blueprint folders in the
        'depends' list. Webassets will not search in files that come via less
        @import function.
        EXAMPLE: depends=('base/less/*.less'),
    -->
    {% if config.DEBUG %}
        {% assets
            filters='less, cssmin',
            output='CACHE/packed.css',
            depends=(
                'project/less/*.less',
                'project/less/bootstrap/*.less'
            ),
            'project/less/style.less'
        %}
            <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}
    {% else %}
        <link href="/static/project/css/compiled.css" rel="stylesheet">
    {% endif %}

    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
    {% include 'browsermessage.html' %}

    {% block page %}
    <!-- .page-wrap -->
    <section class="page-wrap">

        {% block header %}
        <!-- .header -->
        <header class="header">

            <!-- .navbar navbar-default -->
            <div class="navbar navbar-default" role="navigation">

                <!-- .container -->
                <div class="container">

                    <!-- .navbar-header -->
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainNavigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand">Brand</a>

                    </div>
                    <!-- /.navbar-header -->

                    <!-- #MainNavigation.collapse navbar-collapse -->
                    <div id="MainNavigation" class="collapse navbar-collapse pull-right">

                        <!-- .nav navbar-nav -->
                        <ul class="nav navbar-nav">
                            <li{% if '/' == request.path %} class="active"{% endif %}>
                                <a href="/">Startpage</a>
                            </li>
                            <li{% if 'info' in request.path %} class="active"{% endif %}>
                                <a href="/info">Info</a>
                            </li>
                            <li{% if 'admin' in request.path %} class="active"{% endif %}>
                                <a href="/admin">Admin</a>
                            </li>
                        </ul>
                        <!-- /.nav navbar-nav -->

                    </div>
                    <!-- /#MainNavigation.collapse navbar-collapse -->

                </div>
                <!-- /.container -->

            </div>
            <!-- /.navbar navbar-default -->

        </header>
        <!-- /.header -->
        {% endblock %}

        <!-- /.container page -->
        <section class="container page">

            <!-- .row -->
            <div class="row">

                <!-- .col-lg-8 col-sm-8 col-offset-1 -->
                <div class="col-lg-8 col-sm-8 col-offset-1">

                    <!-- content-wrap -->
                    <div class="content-wrap">

                        <!-- .content -->
                        <section class="content">

                            {% block content %}{% endblock %}

                        </section>
                        <!-- /.content -->

                    </div>
                    <!-- /.content-wrap -->

                </div>
                <!-- /.col-lg-8 col-sm-8 col-offset-1 -->

                <!-- .col-lg-3 col-sm-4 -->
                <div class="col-lg-4 col-sm-4">

                    {% block sidebar %}
                    <h1>
                        Sidebar
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing
                        elitr, sed diam nonumyeirmod tempor invidunt ut la
                    </p>
                    {% endblock %}

                </div>
                <!-- /.col-lg-4 col-sm-4 -->

            </div>
            <!-- /.row -->

        </section>
        <!-- /.container page -->

    </section>
    <!-- /.page-wrap -->

    <!-- .footer-wrap -->
    <div class="footer-wrap">

        <!-- .well well-sm footer -->
        <footer class="well well-sm footer">

            <!-- .container -->
            <div class="container">

                &copy; 2013 - haengebruegge.de

            </div>
            <!-- /.container -->

        </footer>
        <!-- /.well well-sm footer -->

    </div>
    <!-- /.footer-wrap -->
    {% endblock %}

    <!--[if lt IE 9]>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for("static", filename="base/js/libs/jquery-2.0.3.min.js") }}"><\/script>')</script>
    <!--<![endif]-->

    {% assets filters='jsmin', output='CACHE/packed.js',
        'bootstrap/js/transition.js',
        'bootstrap/js/collapse.js',
        'project/js/script.js'
    %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}base/js/respond.js"></script>
        <script src="{{ STATIC_URL }}base/js/placeholder.js"></script>
    <!--[endif]-->

    {% if not config.DEBUG %}
    <!-- Piwik --><!-- End Piwik Tag -->
    {% endif %}
</body>
</html>
