<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="de" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="de" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="de" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="de" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="de"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block page_title %}Welcome{% endblock %} | Flaskeleton</title>

    <meta name="description" content="{% block page_description %}{{ config.PAGE_DESCRIPTION }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- get purecss -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">

    <!--
        For automatic reloading, include static blueprint folders in the
        'depends' list. Webassets will not search in files that come via less
        @import function.
        EXAMPLE: depends=('base/less/*.less'),
    -->
    {% if config.DEBUG %}
        {% assets
            filters='less, cssmin',
            output='CACHE/packed.css',
            depends=(
                'project/less/*.less',
            ),
            'project/less/style.less'
        %}
            <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}
    {% else %}
        <link href="/static/project/css/compiled.css" rel="stylesheet">
    {% endif %}

    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
    {% include 'browsermessage.html' %}

    {% block page %}
    <!-- .page-wrap -->
    <section class="page-wrap">

        {% include 'header.html' %}

        <!-- /.page -->
        <section class="page">

            <!-- . -->
            <div class="">

                <!-- content-wrap -->
                <div class="content-wrap">

                    <!-- .content -->
                    <section class="content">

                        {% block content %}{% endblock %}

                    </section>
                    <!-- /.content -->

                </div>
                <!-- /.content-wrap -->

            </div>
            <!-- /. -->

            <!-- . -->
            <div class="">

                {% block sidebar %}
                <h1>
                    Sidebar
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing
                    elitr, sed diam nonumyeirmod tempor invidunt ut la
                </p>
                {% endblock %}

            </div>
            <!-- /. -->

        </section>
        <!-- /.page -->

    </section>
    <!-- /.page-wrap -->

    {% include 'footer.html' %}

    {% endblock %}

    <!--[if lt IE 9]>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for("static", filename="base/js/libs/jquery-2.0.3.min.js") }}"><\/script>')</script>
    <!--<![endif]-->

    {% assets filters='jsmin', output='CACHE/packed.js',
        'project/js/script.js'
    %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}base/js/respond.js"></script>
        <script src="{{ STATIC_URL }}base/js/placeholder.js"></script>
    <!--[endif]-->

    {% if not config.DEBUG %}
    <!-- Piwik --><!-- End Piwik Tag -->
    {% endif %}
</body>
</html>
