<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="de" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="de" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="de" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="de" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="de"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Welcome{% endblock %} | Flaskeleton</title>

    <meta name="description" content="{{ config.PAGE_DESCRIPTION }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--
        For automatic reloading, include static blueprint folders in the
        'depends' list. Webassets will not search in files that come via less
        @import function.
        EXAMPLE: depends=('base/less/*.less'),
    -->
    {% if config.DEBUG %}
        {% assets
            filters='less, cssmin',
            output='CACHE/packed.css',
            depends=(
                'project/less/*.less',
                'project/less/bootstrap/*.less'
            ),
            'project/less/style.less'
        %}
            <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}
    {% else %}
        <link href="/static/project/css/compiled.css" rel="stylesheet">
    {% endif %}

    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
    {% include 'browsermessage.html' %}

    {% block page %}
    <section class="container page-wrap">

        {% block header %}
        <header class="well header">

            <h1>{% block header_title %}Header Title{% endblock %}</h1>

        </header><!-- /.well.header -->
        {% endblock %}

        <section class="page">

            <hr />

            <div class="row">

                <div class="col-lg-3 col-sm-3">

                    {% block sidebar %}
                    <h1>
                        Sidebar
                    </h1>
                    {% endblock %}

                </div><!-- /.col-lg-3.col-sm-3 -->

                <div class="col-lg-8 col-sm-8 col-offset-1">

                    <div class="content-wrap">

                        <section class="content">

                            {% block content %}{% endblock %}

                        </section><!-- /.content -->

                    </div><!-- /.content-wrap -->

                </div><!-- /.col-lg-8.col-sm-8.col-offset-1 -->

            </div><!-- /.row -->

            <hr />

        </section><!-- /.page -->

    </section><!-- /.container.page-wrap -->

    <div class="container footer-wrap">

        <footer class="footer">

            <p class="text-center">
                &copy; 2013 - haengebruegge.de
            </p><!-- /.text-center -->

        </footer><!-- /.footer -->

    </div><!-- /.container.footer-wrap -->
    {% endblock %}

    <!--[if lt IE 9]>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for("static", filename="origin/js/jquery-2.0.3.min.js") }}"><\/script>')</script>
    <!--<![endif]-->

    {% assets filters='jsmin', output='CACHE/packed.js',
        'project/js/script.js'
    %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}origin/js/vendor/respond.js"></script>
        <script src="{{ STATIC_URL }}origin/js/vendor/placeholder.js"></script>
    <![endif]-->

    {% if not config.DEBUG %}
    <!-- Piwik --><!-- End Piwik Tag -->
    {% endif %}
</body>
</html>
