<!-- .header -->
<header class="header">

    <!-- . -->
    <div class="" role="navigation">

        <!-- . -->
        <div class="">

            <!-- #MainNavigation -->
            <div id="MainNavigation">

                <!-- . -->
                <ul class="">
                    <li{% if '/' == request.path %} class="active"{% endif %}>
                        <a href="/">Startpage</a>
                    </li>
                    <li{% if 'info' in request.path %} class="active"{% endif %}>
                        <a href="/info">Info</a>
                    </li>
                    <li{% if 'admin' in request.path %} class="active"{% endif %}>
                        <a href="/admin">Admin</a>
                    </li>
                </ul>
                <!-- /. -->

            </div>
            <!-- /#MainNavigation -->

        </div>
        <!-- /. -->

    </div>
    <!-- /. -->

</header>
<!-- /.header -->
